* {
  text-decoration: none;
}
.event-list {
  width: 550px;
}

.event-card {
  /* background-color: white; */
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 2vh;
  border-radius: 5% 5%;
  animation: fade-slide-left 1.4s ease;
}

.card-img {
  max-width: 250px;
  height: 202px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  color: black;
  width: 300px;
  height: 200px;
  margin-left: -50px;
  overflow: hidden;
  z-index: 1;
  border-radius: 5% 5%;
  box-shadow: rgba(0, 0, 0, 0.096) 0px 2px 4px 0px inset;

}

.card-details {
  margin-top: 0.2rem;
}

.card-text {
  margin-left: 70px;

}

@keyframes fade-slide-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}