.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  width: 30vw;
  
  animation: fade-slide-right 2s ease;
}

.signup-input {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px;
  font-size: 20px;
  outline: none;
  border-radius: 5% 5%;

}

.signup-input input {
  width: 16.5vw;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  border-radius: 5% 5%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
}

.signup-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  
}

.signup-buttons button {
  font-family: 'Quicksand', sans-serif;  
  font-size: 20px; 
  color: white;
  border-radius: 5% 5%;
  padding: 8px;
  outline: none;
  border: none;
  background-color: rgb(59, 172, 172);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
